# VS code config
.vscode

# .DS store files
.DS_Store

# Test files
*.gcno
*.gcda
test/coverage/
test/coverage_report/
test/main_coverage.info
test/run_tests*
test/build/

# Eclipse files
.settings/
Debug/
evfirmware-vcu.launch

